### Composer ###
composer.phar
/vendor/
composer.lock

### IDEs ###
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.launch
.buildpath
.project
.idea/*
out/
.idea_modules/
.php_cs.cache
.DS_Store

###  PHPUnit ###
.phpunit.result.cache

### Build Artefacts ###
.ci/output
html_docs
